################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatrixConsole/MatrixConsole.sln
/MatrixConsole/MatrixConsole/bin/Debug/netcoreapp3.1/MatrixConsole.runtimeconfig.json
/MatrixConsole/MatrixConsole/bin/Debug/netcoreapp3.1/MatrixConsole.runtimeconfig.dev.json
/MatrixConsole/MatrixConsole/bin/Debug/netcoreapp3.1/MatrixConsole.pdb
/MatrixConsole/MatrixConsole/bin/Debug/netcoreapp3.1/MatrixConsole.exe
/MatrixConsole/MatrixConsole/bin/Debug/netcoreapp3.1/MatrixConsole.dll
/MatrixConsole/MatrixConsole/bin/Debug/netcoreapp3.1/MatrixConsole.deps.json
/MatrixConsole/.vs/MatrixConsole/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/shenanigans/v16/.suo
/MatrixConsole/MatrixConsole/obj/project.nuget.cache
/MatrixConsole/MatrixConsole/obj/project.assets.json
/MatrixConsole/MatrixConsole/obj/MatrixConsole.csproj.nuget.g.targets
/MatrixConsole/MatrixConsole/obj/MatrixConsole.csproj.nuget.g.props
/MatrixConsole/MatrixConsole/obj/MatrixConsole.csproj.nuget.dgspec.json
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.pdb
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.genruntimeconfig.cache
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.GeneratedMSBuildEditorConfig.editorconfig
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.dll
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.csproj.FileListAbsolute.txt
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.csproj.CoreCompileInputs.cache
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.csproj.AssemblyReference.cache
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.assets.cache
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.AssemblyInfoInputs.cache
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/MatrixConsole.AssemblyInfo.cs
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/apphost.exe
/MatrixConsole/MatrixConsole/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
